Cutiepii_Robot/config.py
Cutiepii_Robot/*.session
Cutiepii_Robot/*.session-journal
Cutiepii_Robot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
Cutiepii_Robot/modules/helper_funcs/temp.txt
Cutiepii_Robot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
cutiepii.session-journal
updates.txt
*.exe