future
emoji
lxml
beautifulsoup4
requests
sqlalchemy
python-telegram-bot==13.6
psycopg2-binary
feedparser
pynewtonmath
spongemock
zalgo-text
geopy
nltk
psutil
aiohttp
Pillow>=4.2.0
CurrencyConverter
googletrans==4.0.0-rc1
google_trans_new
jikanpy
speedtest-cli
bleach
git+https://github.com/starry69/python-markdown2.git
wikipedia
telethon==1.16.4
spamwatch
alphabet_detector
pyrate-limiter
nekos.py
dnspython
spotdl
gtts
pandas
fontTools
validators
pySmartDL
pybase64
hachoir
pytz
pyrogram
python-rapidjson
tgCrypto>=1.2.2
youtube_dl>=2021.4.26
register
bing_image_downloader
youtube_search_python
ffmpeg-python
google-api-python-client
tswift
html2text
telegraph
cryptg
cryptography
pymongo
pretty_errors
envparse
PyYAML>5.0
search_engine_parser
countryinfo
motor
pykeyboard
Python_ARQ
countryinfo
faker
PyDictionary==2.0.1
selenium
zalgo_text
cowpy
gitpython==3.1.11
heroku3==4.2.3
cachetools
redis
psutil
speedtest-cli
cloudscraper
dateparser
secureme
#profanity (Credits to Julia)
better_profanity
textblob 
nudepy
emoji-country-flag
better_profanity
lyricsgenius
opencv-python-headless
aioredis
asyncio
odmantic
ujson
gpytranslate
youtube_search
wget
aiofiles
uvloop
python-dotenv
humanize
git+https://github.com/python-telegram-bot/ptbcontrib.git
